:root {
  --color-dark: #0c0d12;
  --color-white: #fff;
  --color-gray-24: #161524;
  --color-gray-2C: #1b1a2c;
  --color-pink-78: #ca0078;
  --color-pink-A3: #f706a3;
  --color-blue: #5a73ef;
  --color-light-blue: #81f3f8;
  --font-body: "Evolventa", sans-serif;
  --font-heading: "Involve", sans-serif;
}
